.notice-wrap {
    width: 300px;
    position: fixed;
    right: 20px;
    bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.notice {
    padding: 10px 10px;
    margin: 5px 0;
    border-radius: 3px;
    background: white;
    color: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    transition: linear .5s;
    opacity: 0;
    box-sizing: border-box;
}

.notice__message {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    padding: 0 10px;
}

.notice__icon {
    width: 22px;
    height: 16px;
    display: block;
    margin: 3px 0 0;
}

.notice--info {
    color: #5aaafa;
    border-left: 5px solid #5aaafa;
    border-right: 1px solid #5aaafa;
}

.notice--info .notice__img {
    fill: #5aaafa;
}

.notice--success {
    color: #5aa700;
    border-left: 4px solid #5aa700;
    border-right: 1px solid #5aa700;
}

.notice--success .notice__img {
    fill: #5aa700;
}

.notice--warning {
    color: #efc100;
    border-left: 4px solid #efc100;
    border-right: 1px solid #efc100;
}

.notice--warning .notice__img {
    fill: #efc100;
}

.notice--error {
    color: #e71d32;
    border-left: 4px solid #e71d32;
    border-right: 1px solid #e71d32;
}

.notice--error .notice__img {
    fill: #e71d32;
}

.notice__close {
    width: 10px;
    height: 10px;
    display: block;
    margin-left: auto;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 10px;
    cursor: pointer;
}

.notice__close .notice__img {
    fill: #666;
}